[user]
	email = andreas.rau@mercedes-benz.io
	name = Andy Rau
[init]
	defaultBranch = main
[alias]
	# Shortcuts
	ch = checkout
	br = branch
	st = status
	br = branch
	cm = commit -m
	po = push origin

	# Soft reset last commit
	soft = reset --soft HEAD~1

	# Delete unstaged changes
	hard = reset --hard

	# info of last commit
	last = log -1 HEAD

	# More commands in one
	aa = !git add -A && git status
	cma = !git add -A && git commit -m
	af = !git add -A && git commit --amend --no-edit

# Colored log
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph

	# Remove gone branches (no longer on remote)
	gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"

	# Branches sorted by last modified
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

	# List Aliases
	al = "!git config -l | grep alias | cut -c 7-"
